In [ ]:
##*PyBank* Homework Jan 7, 2021
"""
create a Python script for analyzing the financial records a company. Use budget_data.csv provided
dataset is composed of two columns, Date and Profit/Losses.
Task: create a Python script that analyzes the records to calculate each of the following:

1) The total number of months included in the dataset.
2) The net total amount of Profit/Losses over the entire period.
3) The average of the changes in Profit/Losses over the entire period.
4) The greatest increase in profits (date and amount) over the entire period.
5) The greatest decrease in losses (date and amount) over the entire period.

Resulting analysis should look similar to the following:

  Financial Analysis
  ----------------------------
  Total Months: 86
  Total: $38382578
  Average  Change: $-2315.12
  Greatest Increase in Profits: Feb-2012 ($1926159)
  Greatest Decrease in Profits: Sep-2013 ($-2196167)
Your final script should print the analysis to the terminal and export a text file with the results.
"""

In [12]:
# Import the pathlib and csv library
from pathlib import Path
import csv

# Set the file path
csvpath = Path("../Resources/budget_data.csv")
#initialize
Profit_Losses = []

# Open the input path as a file object
with open(csvpath, 'r') as csvfile:

   
    # Pass in the csv file to the csv.reader() function
    # (with ',' as the delmiter/separator) and return the csvreader object
    csvreader = csv.reader(csvfile, delimiter=',')
   
    # Go to the next row from the start of the file
    # (which is often the first row/header) and iterate line_num by 1
    header = next(csvreader)
    
    for row in csvreader:
        # Print the row
#         print(row)
#         print(row[1])

        Profit_Losses.append(int(row[1]))
    
    print(Profit_Losses)
    print(len(Profit_Losses))
    print(sum(Profit_Losses))

[867884, 984655, 322013, -69417, 310503, 522857, 1033096, 604885, -216386, 477532, 893810, -80353, 779806, -335203, 697845, 793163, 485070, 584122, 62729, 668179, 899906, 834719, 132003, 309978, -755566, 1170593, 252788, 1151518, 817256, 570757, 506702, -1022534, 475062, 779976, 144175, 542494, 359333, 321469, 67780, 471435, 565603, 872480, 789480, 999942, -1196225, 268997, -687986, 1150461, 682458, 617856, 824098, 581943, 132864, 448062, 689161, 800701, 1166643, 947333, 578668, 988505, 1139715, 1029471, 687533, -524626, 158620, 87795, 423389, 840723, 568529, 332067, 989499, 778237, 650000, -1100387, -174946, 757143, 445709, 712961, -1163797, 569899, 768450, 102685, 795914, 60988, 138230, 671099]
86
38382578

#Read CSV in as DataFrame

In [7]:
#set the path
csvpath = Path("../Resources/budget_data.csv")

In [8]:
#Read in the CSV as a Dataframe
budget_data = pd.read_csv(csvpath)
budget_data

        Date  Profit/Losses
0   Jan-2010         867884
1   Feb-2010         984655
2   Mar-2010         322013
3   Apr-2010         -69417
4   May-2010         310503
..       ...            ...
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230
85  Feb-2017         671099

[86 rows x 2 columns]

In [12]:
#Describe summary statistics for csv data
budget_data.describe(include='all')

            Date  Profit/Losses
count         86   8.600000e+01
unique        86            NaN
top     Jan-2014            NaN
freq           1            NaN
mean         NaN   4.463090e+05
std          NaN   5.363579e+05
min          NaN  -1.196225e+06
25%          NaN   1.821620e+05
50%          NaN   5.703280e+05
75%          NaN   7.952262e+05
max          NaN   1.170593e+06

# Calculate the cumulative returns using the 'cumprod()' function
cumulative_returns = (1 + profit/losses).cumprod()
cumulative_returns.head()

In [ ]:
#Initialize metric variables
total_amt_PL = 0
ave_change_PL = 0
max_inc_profit = 0
max_dec_profit = 0

In [9]:
#Sum of profit and loss for entire period
total_amt_PL = (1+Profit/Losses).cumprod()

NameError: name 'Profit' is not defined

In [ ]:
#average of the change in profit/losses over entire period

In [ ]:
#greatest increase in profit (date and amount)
max_inc_profit

In [ ]:
#greatest decrease in losses (date and amount)
max_dec_profit

In [ ]:
# Calculate the daily return over the last 10 years
daily_return = amd_csv.pct_change()
daily_return.head()

In [ ]:
print(f"Total Months:86")
print(f"Total: {Total})
print(f"Average Change: ${Average_Change})
print(f"Greatest Increase in Profits:date ${max_inc_profit})
print(f"Greatest Decrease in Profits:date ${max_dec_profit})